.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

span {
  margin-left: 5px;
}
mat-card-subtitle {
  margin-left: 10px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.mat-card {
  width: 600px;
  height: 700px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.mat-card:hover {
  transform: scale(1.05);
}

.mat-card-lg {
  width: 700px;
}

.card {
  padding: 20px;
  border-radius: 8px;
  width: 900px;
  height: 500px;
  color: #5db0e7;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #524449;
  margin: 10px;
}

.card hr {
  margin-top: 20px;
  margin-bottom: 20px;
}
.editbtn {
  margin-left: 10px;
}
