body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  width: 500px;
  padding: 20px;
  border: 1px solid #222121;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #524449;
  border-radius: 4px;
}

button {
  background-color: #524449;
  color: rgb(206, 201, 206);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5db0e7;
}
.logo {
  max-width: 200px; /* Ajustez la taille selon vos besoins */
  max-height: 200px; /* Ajustez la taille selon vos besoins */
  margin-left: auto;
  margin-right: auto;
}
.container {
text-align: left ;
}