<div class="container" *ngIf="assignment">
    <div class="center-content">
        <h1>Modifer l'assignment {{assignment.nom}}</h1>
        <img src="../../../assets/logo_assignments.png" alt="Logo" class="logo">
    </div>
    <form ngForm class="form" #formupdate (submit)="onSaveAssignment(); formupdate.reset(); ">
        <div class="form-columns-container">
            <div class="form-column">
                <mat-form-field>
                    <input matInput placeholder="Edition du nom" [(ngModel)]="nomAssignment" name="assignment-name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Edition d'auteur" [(ngModel)]="auteur" name="assignment-auteur">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Edition du matiere" [(ngModel)]="matiere" name="assignment-matiere">
                </mat-form-field>
            </div>

            <div class="form-column">
                <mat-form-field>
                    <input matInput placeholder="Edition du note" [(ngModel)]="note" name="assignment-note">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="remarques" [(ngModel)]="remarques" name="assignment-remarques">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Edition de la date" [(ngModel)]="dateDeRendu"
                        name="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <button mat-raised-button color="primary" [disabled]="((!nomAssignment)||(!dateDeRendu))">
            Enregistrer
        </button>
    </form>
</div>